body {
    background-color:aqua;
  margin-left: 50px;
  color: #000000;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.creative {
  color:red;
  font-family:cursive;
  font-size:50px;
}

#styling{
font-family:  'Courier New';
font-size: 20px;
color :red;

}
.home-img {
      max-width:20%;
      height: 20%;
      margin-right: auto;
      margin-left: auto;
      display: flex;
    }

    .facial-img {
      display:inline-block;
      vertical-align:top;
      max-width:50%;
      height: auto;
      float: left;

    }

#good {
  color:black;
  border:  solid 1px;
background-color:lightsalmon;
  font-size: 20px;
  margin:20px;
}


img{
  padding-top: 35px;

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:red;
  color: white;
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  flex-direction:column;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type:  none;
}
#services {
  float:left;
  width: 40%;
  background-color: coral;
  border-width:5px;
  ;

  }
#services1 {
  float: right;
  width: 30%;
  background-color: coral;
  border-width:5px;
}

#services2 {
  float: right;
  width:30%;
  background-color: pink;
  border-width: 5px;
}
#facial{
float:right;
width:30%;
}
#facialPic {
  float:left;
  width:40%;
  height:auto;
  margin-right:1rem;
}




